body {
    background-color: rgb(32, 158, 116);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

header h1 {
    text-shadow: 3px 3px 10px black;
}

form {
    background-color: white;
    background: rgb(143, 143, 143);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .4);
}

#formulário{
    background-color: rgb(170, 170, 170);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

footer p {
    text-shadow: 3px 3px 10px black;
}

#cabeçalho {
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #f5f5f5;
    padding: 0px;
    margin-block-end: 1cm;
}

#principal_2 {
    display: inline-block;
    background-color: gainsboro;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    width: 40%;
    color: black;
    /* border: 2px;
    padding:4px;
    margin: 25px; */
    border: solid;
    border-width: 0.1mm;
    margin-left: 10px;
}

#principal_3 {
    float: right;
    background-color: gainsboro;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: black;
    /* border: 2px;
    padding:4px;
    margin: 25px;
    border: solid;
    border-width: 0.1mm;  */
    width: 600px;
    height: 267px;
    margin-right: 10px;
}